.container {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 74px auto;
    background-color: #fff;
    height: 100vh;
}

.header {
    grid-area: 1/2/2/3;
    // grid-column: 1/3;
    // grid-row: 1/2;
    background-color: #fff;
    display: flex;
    justify-content: end;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    height: 74px;
    width: 100%;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
    z-index: 2;
    .admin_img {
        width: 50px;
        aspect-ratio: 1/1;
        img {
            border-radius: 50%;
            width: 100%;
            height: 100%;
            border: 1px solid #1890ff;
        }
        margin-right: 20px;
        cursor: pointer;
    }
}

.left {
    grid-column: 1/2;
    grid-row: 1/3;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 270px;
    background-color: #001529;
    z-index: 3;
    .button_menu {
        background-color: #001529;
        border: none;
        color: white;
        font-size: 1.7rem;
        float: right;
        &:hover {
            background-color: #001529;
        }
    }
}

.right {
    background-color: #f1f2f7;
    grid-column: 2/3;
    grid-row: 2/3;
    padding: 20px 30px;
}

.main {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
    form {
        width: 100%;
        height: 100%;
    }
    .add_button {
        width: 180px;
    }
    .button_link {
        width: 15px;
        text-decoration: none;
    }
}